:root {
  --background-color: #1a2028;
  --primary-font-color: #fff;
  --secondary-font-color: #b8b8b8;
  --playerbackground-color: #282a3d;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: linear-gradient(
    to right,
    #3ab5b0 0%,
    #3d99be 31%,
    #56317a 100%
  );
  color: var(--primary-font-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

audio::-webkit-media-controls-panel {
  background-color: var(--playerbackground-color);
}
