.songitem {
  margin-top: 0;
  margin-left: 20px;
  display: grid;
  grid-template-columns: 8% 92%;
  grid-template-rows: 25% 75%;
  grid-gap: 5px;
}

.song__image {
  width: 5em;
  height: 5em;
  object-fit: cover;
  border-radius: 15px;
}

.song__title {
  font-weight: bold;
  font-size: 10pt;
  grid-area: 1 / 2;
}

.song__artist {
  font-size: 9pt;
  grid-area: 2 / 2;
  margin-bottom: 0;
  color: var(--secondary-font-color);
}
